@import url('../../colors.css');
.update-pen {
    background: transparent !important;
    color: var(--primary-color) !important;
    border: none !important;
    font-size: 1.6rem !important;
    cursor: pointer; 
    width: fit-content;
}