@import url('../../colors.css');

.Category-Container{
display: flex;
flex-direction: column;
width: 100%;
/* padding: 1rem 2rem; */
gap: 1rem;
margin-left: 15rem;
z-index: 0 !important;
}

.Category-Button {
    align-self: flex-start;
    width: 10%;
}

.Category-Table {
    width: 100%;
}


/* In AdminCategory.css */
.custom-table {
    width: 100%;
    border-collapse: collapse;

}
  
  .custom-table th,
  .custom-table td {
    padding: 1rem;
    border: 1px solid var(--primary-color);
    text-align: center; /* Center the content horizontally */
  }
  
  .custom-table th {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .action-icons-container {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
  }
  
  .action-icon {
    font-size: 1.6rem; /* Adjust the icon size as needed */
    cursor: pointer; /* Add pointer cursor to indicate interactivity */
    margin: 0 5px; /* Add margin around the icons */
    color: var(--primary-color);
  }
  @media  all and (max-width: 768px) {
    .Category-Container{
      
      margin-left: 2rem;
      }
  }
  @media all and (min-width: 769px) and (max-width: 1024px) {
    .Category-Container {
      margin-left: 10rem; 
    }
  }
  