@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/* Define variables */
:root {
    --border-radius: 1px;
    --offset: 150%;
    --input-height: 63px;
    --transition-easing: cubic-bezier(.36,1,.62,.98);
    --background1: #433B7C;
    --background2: #2C497F;
    --yellow: #ED6A5E;
}

/* Mixins */
@mixin box-shadow($props...) {
    box-shadow: $props;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin transition($transition...) {
    transition: $transition;
}

/* Global styles */
html, body, .container, #app {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    background-image: url('https://unsplash.it/1366/768?image=568');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-block-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition: all .85s ease-in-out;
}

.form-block-wrapper--is-login {
    opacity: .92;
    background-color: var(--background2);
}

.form-block-wrapper--is-signup {
    opacity: .94;
    background-color: var(--background1);
}

.form-block {
    position: relative;
    margin: 100px auto 0;
    width: 285px;
    padding: 25px;
    background: rgba(255, 255, 255, .13);
    border-radius: 2px;
    color: #fff;
    @include box-shadow(0px 0px 16px 9px rgba(0,0,0,0.07));
}

.form-block__header {
    margin-bottom: 20px;
}

.form-block__header h1 {
    font-size: 30px;
    margin: 0 0 20px;
}

.form-block__toggle-block span {
    font-size: 13px;
    font-weight: 300;
    color: rgba(255,255,255,.65);
}

.form-block__input-wrapper {
    height: var(--input-height);
    position: relative;
    margin-bottom: 2px;
    transition: all .25s var(--transition-easing) .3s;
}

.form-block-wrapper--is-signup .form-block__input-wrapper {
    height: calc(2 * var(--input-height));
    transition: all .5s var(--transition-easing) .2s;
}

.form-group--signup {
    position: absolute;
    top: 0;
    left: var(--offset);
    width: 100%;
}

.form-group__input {
    display: block;
    font-size: 15px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 10px;
    margin-bottom: 15px;
    background: rgba(255,255,255,.25);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: var(--border-radius);
    &:focus {
        outline: none;
        border: 1px solid #fff;
        background: transparent;
    }
    .form-block-wrapper--is-signup & {
        transform: translateX(-var(--offset));
    }
}

.button {
    display: inline-block;
    padding: 15px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: none;
    border-radius: var(--border-radius);
    transition: all .2s ease-in-out;
    @include box-shadow(0px 0px 13px 8px rgba(0,0,0,0.1));
}

.button--primary {
    background: var(--yellow);
    color: #fff;
}

.button:hover {
    @include box-shadow(0px 0px 18px 15px rgba(0,0,0,0.15));
}

.full-width {
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 43px;
    height: 8px;
    background: rgba(255, 255, 255, .4);
    cursor: pointer;
    border-radius: 50px;
}

input[type="checkbox"] + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    right: 18px;
    width: 25px;
    height: 25px;
    background: var(--yellow);
    cursor: pointer;
    border-radius: 50%;
    @include box-shadow(1px 1px 0px 0px rgba(0,0,0,0.15));
    transition: all .3s ease-in-out;
}

input[type="checkbox"]:checked + label:after {
    right: 0;   
}

/* Placeholder styles */
::placeholder {
    font-weight: 300;
    color: rgba(255, 255, 255, .5);
}

.tooltip {
    padding: 7px;
    border-radius: 1px;
    background: rgba(0,0,0,.5);
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: 0;
}
