@import url('../../colors.css');

.Submit-Button {
    background-color: black !important ;
    border: var(--primary-color) !important;
}

.Submit-Button:hover {
    background-color: var(--primary-color);
}

  