
@import url('../../colors.css');
.exercises-container {
    padding: 1rem 2rem;
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 90%; */
    gap: 10px;
    align-items: center;
    overflow: hidden;
    margin-left: 10rem;
    /* background-color: red; */
}


.Loader{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.exercise-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.Exercise-Button {
    width:fit-content;
    padding: 0 1.5rem;
}

.trash-icon-size {
    background:     transparent !important;
    color: var(--primary-color) !important;
    border: none !important;
    font-size: 1.6rem !important;
    cursor: pointer; 
    }

    .icons-container {
        display: flex;
        justify-content: space-around;
    }

.gif{
    height: 13rem;
}

.select-exercise{
    height: 2.2rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and ( max-width: 768px ) {
    .exercises-container {
        padding: 1rem 0; 
        margin-left: 1rem;
}
.button-container{
    gap: 5px;
    flex-direction: column;
    
}

}

.admin-card-title{
    font-size: 1.5rem !important;
    /* background-color: blue; */
    height: 30%;
    display: flex;
    align-items: center;
}

.pagination-number {
    color: rgb(201,34,34) !important;
   }

   @media all and (min-width: 769px) and (max-width: 1024px) {
    .exercises-container {
        margin-left: 5rem; 
        z-index: 1;
    }
  }
  
   

